<!-- Login form --> 

<app-header></app-header>
<div class="imge">
<form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <div class="login"> Login Form</div>
    <div>
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" formControlName="email">
        <small class="esmall" *ngIf="email.invalid && (email.dirty || email.touched)">
            email is mandatory field
        </small>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" formControlName="password">
        <small *ngIf="password.invalid && (password.dirty || password.touched)">
            <small *ngIf="password.errors.required">
                password cannot be left blank
            </small>
            <small *ngIf="password.errors.minlength">
                password must have minimum 8characters
            </small>
        </small> 
    </div>

    <div class="but">
        <button [disabled]="!loginForm.valid" value="sign In">Log In</button> 
        <!--input class="submit"[disabled} = "!loginForm.valid" value="signIn"-->
          <button (click)="tosignup()" value="signIn">New User</button>
    </div>
</form>
</div>

<app-footer></app-footer>  
<!-- 

<app-header></app-header>

<div class="simple-login-container">
    <h2>Login Form</h2>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Username">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Enter your Password" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group"> 
             <input type="submit" class="btn btn-block btn-login" placeholder="Enter your Password" > 
            <form [formGroup]="loginForm" (ngSubmit)="logIn()"></form>
            <button [disabled]="!loginForm.valid" value="sign In">Log In</button>
            <button (click)="tosignup()" value="signIn">New User</button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="https://1.envato.market/ydVvD">Download Best Theme</a>
        </div>
    </div>
</div>
<app-footer></app-footer> -->