form{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(65, 61, 61, 0.616);
    margin:auto;
    margin-top: 25px;
    width:40vw;
    display: flex;
    flex-direction: column;
    height: 55vh;
    /* margin-bottom: 1px; */
     margin-left: 33.3%;
    margin-right: 33.3%;
} 
form div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form div input{
    width: 80%;
    background-color: rgba(252, 244, 244, 0.616);
    border-width: 1px;
    border-color: rgba(57, 73, 121, 0.534);
    color: rgb(0, 0, 0);
    margin: 1vh auto;
    height: 20px;
}

form div button{
    width : 35%;
     background-color: rgba(25, 134, 130, 0.692); 
    background-color: rgba(252, 244, 244, 0.616);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.466);
    color: rgb(255, 255, 255);
    height: 35px;
    font-size: 12px;
    margin: 2vh auto;

}
.but{

    flex-direction: row;
}
small{
    color: red;
    font-style: italic;
    margin-left: 5%;
}
.esmall{
    margin-left: 10%;
}
label{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:  10%;;
}

.login{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    background-image: no-repeat;
   
}
.heading{
    font-size: xx-large;
    margin-right: 24%;
    margin-left: 1%;
  }
  .top{
    position: absolute;
    right: 120px;
    font-size: larger;
  }
  .side{
    margin: 20px 10px;
  }
  .logo{
    height: 30px;
  }
  .dropdown {
    position: absolute;
    right: 48px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute; 
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown:hover .dropdown-content {
    z-index: 2;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.644);
  }
  ::placeholder {
    color:greenyellow;
    opacity:1;
  }
  .imge{
      background-image: url("../../assets/c2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height:70%;
      margin-top: 0%;
      margin-bottom: 0%;
  }
    


    