 <div class="pos">
  <header>
    <nav class="navbar  navbar-expand-lg navbar-light mynav">
      <img src="../../assets/iconone.jpeg" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy" />
      <span>Cricket Player</span>
      <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="true" aria-label="Toggle navigation" (click)="collapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="but">
          <button (click)="tologin()" value="login">Login</button>
       <!-- </div>
        <div class="butOne">-->
          <button (click)="tosignup()" value="signIn">Register</button> 
        </div>
      </div>
      
    </nav>
  </header>
  <section>
    <div style="height:100%" class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="jcontainer">
    <h1 class="display-4" style="text-align:center">The Ultimate Cricket API</h1>
    <p class="lead">The player statistics and fantasy scorecard API allow you to get API data anytime, 24x7. 
      It's extremely simple, easy to use - with a huge collection of example.</p>
  </div>
</div>

 





<div class="container">
  <!-- <p>The .card-columns class creates a masonry-like grid of cards. The layout will automatically adjust as you insert more cards.</p> -->
  <!-- <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p> -->
  <div class="card-columns">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text"><img src="../../assets/sachin.jpg"></p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text"><img src="../../assets/virat.jpg" ></p>

      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"><img src="../../assets/rohit.jpg"></p>
      </div>
    </div>
   
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text"><img src="../../assets/dhoni.jpg"></p>
      </div>
    </div>  
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text"><img src="../../assets/rahul.jpeg"></p>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text"><img src="../../assets/ricky.jpg"></p>
      </div>
    </div>
  </div>
</div>

<div class="foot">
<app-footer></app-footer>
</div>
<!--   
  <div class="footer">
  <app-footer></app-footer>
  </div>
   -->