<mat-toolbar class="head" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div class="heading">Cricket Player</div>
    <div class="top">
      <a mat-button routerLink="search"> Search </a>
      <a mat-button routerLink="favourites"> Favourites </a>
      <a mat-button routerLink="recommended"> Recommended </a>
      <a mat-button routerLink="statistics"> Statistics </a>
    </div>
    <div class="dropdown">
      <img class="img" src={{user.image}} width="50" height="50">
      <div class="dropdown-content">
        <a class="drop" mat-button routerLink="edit"> Edit Profile </a>
        <br>
        <a class="drop" mat-button (click)="logout()"> LogOut </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list class="side">
      <a mat-list-item routerLink="search"> Search Player </a>
      <a mat-list-item routerLink="favourites"> Favourites </a>
      <a mat-list-item routerLink="recommended"> Recommended </a>
      <a mat-list-item routerLink="statistics"> Statistics </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80vh;">
      <router-outlet></router-outlet>
      <router-outlet name='statOpener'></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>