<div class ="footer">
<footer class="footer-sec">   
    <marquee color="red">@CopyRights MARS.All Rights Reserved</marquee>
    <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4" contact>
            <h2>ContactUs</h2>
            <h3>                
                Cricket Centre,Church Gate<br>
                 Mumbai,400020,<br>
                India                
            </h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4" icons>
            <h2>ConnectUs</h2>
            <a href="https://www.facebook.com/">
                <img class="icons" src="../../assets/fb.jpeg">
            </a>
            <a href="https://www.instagram.com/">
                <img class="icons" src="../../assets/insta.jpeg">
            </a>
            <a href="https://www.linkedin.com/">
                <img class="icons" src="../../assets/linkedin.png">
            </a>
            <a href="https://www.twitter.com/">
                <img class="icons" src="../../assets/twitter.jpeg">
            </a>            
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <h2>ReachUs</h2>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241525.14619566136!2d72.68570271640621!3d18.938899299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e0f0945bf1%3A0xeee094bf52a220bb!2sBOARD%20OF%20CONTROL%20FOR%20CRICKET%20IN%20INDIA!5e0!3m2!1sen!2sin!4v1604688351107!5m2!1sen!2sin"
                    width="300" height="80" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            </div>

        </div>
    </div>
</footer>
</div>