/* .foot{
   position: absolute;
   bottom: 0px;
   width: 99%;
   z-index: 2;
 }
 .icons{
   margin-left: 10px;
   height: 30px;
 }
 .copy{
   position: absolute;
   right: 10px;
   font-size: 13px;
 }
 .foot-text{
   font-size: medium;
 }
  */
  .footer-sec
{
    text-align: center;
    height:20%;
    margin-bottom: 0%;
    position:relative;
    width: 100%;
}

.icons{
  margin-left: 10px;
  height: 30px;
}
.icons h2{
  text-align: center;
}
div .contact h2 {
  padding-bottom: 2em;
  line-height: normal;
}
marquee{
  
    color:crimson;
    font-size: 1.5em;
  
}
.footer{
  background-color:cadetblue !important;
  /* height:10vh;
  margin-bottom: 0%; */
}