.foot{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    color: #f31861 !important;
    background-color:cadetblue !important;
  }
  .icons{
    margin-left: 10px;
    height: 30px;
    background-color: rgb(64, 64, 121);
  }
  .copy{
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
  }
  .foot-text{
    
    font-size: 20px;
    
  }