.foot{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    color: #f31861 !important;
    background-color:cadetblue !important;
    height: 13vh;
  }
  .icons{
    margin-left: 10px;
    height: 30px;
    margin-bottom: 10px;
  }
  .icons h2{
    text-align: center;
    font-size: 120%;
  }
  .copy{
    right: 10px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    
  }
  .foot-text{    
    font-size: 20px;
  }  
  .copy h3{
    margin-top: 10%;
    margin-left:80%;
    font-size: 120%;
  }
  .reach{ 
    margin-top: 10%;
    right: 70px;
    top:8%;
    margin: 60%;
    font-size: 100%;
  }   
  .iconsOne{
    margin-left: 46%;
    height: 30px;
    margin-bottom: 10px;
  }
  .iconsOne h2{
    text-align: center;
    font-size: 120%;
  }
  .foot-textOne{    
    font-size: 20px;
  }