  .footer-sec
{
    text-align: center;
    height:30%;
    margin-bottom: 0%;
    position: relative;
    width: 100%;
}

.icons{
  margin-left: 10px;
  height: 30px;
}
.icons h2{
  text-align: center;
}
div .contact h2 {
  padding-bottom: 2em;
  line-height: normal;
}
marquee{
  
    color:crimson;
    font-size: 1.5em;
  
}
.footer{
  background-color: cadetblue;
}